* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  --header_footer-bgc: #10375c;
  --container-width: 1170px;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-style: normal;
  height: 100000px;
}

/* =========================================Common================================================= */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}
.btn {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166.667%;
  width: 205px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #2e80ce;
}
.h2-title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1px;
}
.describe {
  width: 468px;
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 166.667%;
}
.sub-describe {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
}
/* =========================================Header================================================= */
.header {
  background-color: var(--header_footer-bgc);
  position: sticky;
  top: -20px;
  z-index: 10;
}

/* header-top */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.header-top__menu--list {
  display: flex;
  justify-content: space-between;
}

.header-top__menu--link,
.header-top__action--login,
.header-top__action--signup {
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
}

.header-top__menu {
  width: 51.88%;
}

.header-top__menu--link.active,
.header-top__menu--link:hover,
.header-top__action--signup {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
  position: relative;
}

.header-top__menu--link.active::before {
  content: "";
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.7rem;
  left: -8px;
}
.header-top__action {
  width: 15.47%;
  min-width: 16.2rem;
  display: flex;
  justify-content: space-between;
}
.header-top__action--login {
  background-color: transparent;
}

.header-top__action--signup {
  width: 10.4rem;
  height: 4.4rem;
  flex-shrink: 0;
  border-radius: 2.2rem;
  background: #2e80ce;
}

/* =========================================Hero================================================= */
.hero {
  background-color: var(--header_footer-bgc);
  padding-top: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 55px;
}

/* left */
.hero__left {
  width: 44.188%;
}
.hero__left--title {
  width: 517px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 114.286%;
  letter-spacing: -1.4px;
  margin-bottom: 22px;
}

.hero__left--describe {
  color: #c9d2da;
  margin-bottom: 38px;
}

.hero__left--contact {
  display: flex;
  align-items: center;
}

.hero__left--phone {
  margin-left: 7.35%;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166.667%;
}

/* right */
.hero__right {
  display: flex;
  align-items: center;
}
.hero__right--imgleft {
  width: 330px;
  height: 540px;
  flex-shrink: 0;
  border-radius: 6px;
  object-fit: cover;
  margin-right: -6px;
  z-index: 1;
}
.hero__right--imgright {
  width: 210px;
  height: 410px;
  flex-shrink: 0;
  border-radius: 0px 6px 6px 0px;
  object-fit: cover;
}

/* =========================================Services================================================= */
.services {
  padding: 170px 0;
}

.service--title {
  text-align: center;
}

.service--describe {
  width: 468px;
  margin: 18px auto 0;
  text-align: center;
}

.services__body {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__body--img {
  width: 570px;
  height: 570px;
  flex-shrink: 0;
  border-radius: 12px;
  object-fit: cover;
}

.services__body--item {
  width: 470px;
  height: 128px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  display: flex;
  padding: 21px 0 0 22px;
  gap: 19px;
  opacity: 1;
  transition: 0.3s;
  color: #10375c;
}

.services__body--item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}

.services__body--item:hover .services__body--icon {
  background: #2e80ce;
  color: #fff;
  transition: 0.1s;
}

.services__body--icon {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__body--title {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}
.services__body--describe {
  width: 308px;
  margin-top: 8px;
}
.services__body--services {
  margin-top: 55px;
}

/* =========================================Works================================================= */
.works {
  padding: 100px 0;
  background: #f6fbff;
}

.works__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 86px;
}
.works__list--item {
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  padding: 59px 0 59px 58px;
  transition: 0.3s;
}

.works__list--item:hover {
  transform: translateY(-16px);
  border: 16px solid #2e80ce;
  transition: 0.3s;
}

.works__list--title {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 138.462%;
  margin-top: 18px;
}

.works__list--describe {
  width: 254px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
  margin-top: 28px;
}
.works__list--more {
  display: inline-block;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
  margin-top: 18px;
  transition: 0.3s;
}

.works__list--item:hover .works__list--more {
  color: #2e80ce;
  font-weight: 400;
  transition: 0.3s;
}
