* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  --header_footer-bgc: #10375c;
  --container-width: 1170px;
  --font2nd: "Open Sans", sans-serif;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-style: normal;
  height: 100000px;
}

/* =========================================Common================================================= */
input,
text,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.btn {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166.667%;
  width: 205px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #2e80ce;
  transition: 0.3s;
}
.h2-title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1px;
}
.describe {
  width: 468px;
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 166.667%;
}
.sub-describe {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
}
.btn-previous {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 36px;
  border: 1px solid #575f66;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.btn-next {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 36px;
  border: 1px solid #575f66;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.btn-next:hover,
.btn-previous:hover {
  background-color: #2e80ce;
  border-color: #2e80ce;
  color: white;
  opacity: 1;
  transition: 0.3s;
}

/* =========================================Header================================================= */
.header {
  background-color: var(--header_footer-bgc);
  position: sticky;
  top: -20px;
  z-index: 10;
}

/* header-top */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.header-top__menu--list {
  display: flex;
  justify-content: space-between;
}

.header-top__menu--link,
.header-top__action--login,
.header-top__action--signup {
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
}

.header-top__menu {
  width: 51.88%;
}

.header-top__menu--link.active,
.header-top__menu--link:hover,
.header-top__action--signup {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
  position: relative;
}

.header-top__menu--link.active::before {
  content: "";
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.7rem;
  left: -8px;
}
.header-top__action {
  width: 15.47%;
  min-width: 16.2rem;
  display: flex;
  justify-content: space-between;
}
.header-top__action--login {
  background-color: transparent;
}

.header-top__action--signup {
  width: 10.4rem;
  height: 4.4rem;
  flex-shrink: 0;
  border-radius: 2.2rem;
  background: #2e80ce;
}

/* =========================================Hero================================================= */
.hero {
  background-color: var(--header_footer-bgc);
  padding-top: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 55px;
}

/* left */
.hero__left {
  width: 44.188%;
}
.hero__left--title {
  width: 517px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 114.286%;
  letter-spacing: -1.4px;
  margin-bottom: 22px;
}

.hero__left--describe {
  color: #c9d2da;
  margin-bottom: 38px;
}

.hero__left--contact {
  display: flex;
  align-items: center;
}

.hero__left--phone {
  margin-left: 7.35%;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166.667%;
}

/* right */
.hero__right {
  display: flex;
  align-items: center;
}
.hero__right--imgleft {
  width: 330px;
  height: 540px;
  flex-shrink: 0;
  border-radius: 6px;
  object-fit: cover;
  margin-right: -6px;
  z-index: 1;
}
.hero__right--imgright {
  width: 210px;
  height: 410px;
  flex-shrink: 0;
  border-radius: 0px 6px 6px 0px;
  object-fit: cover;
}

/* =========================================Services================================================= */
.services {
  padding: 170px 0;
}

.service--title {
  text-align: center;
}

.service--describe {
  width: 468px;
  margin: 18px auto 0;
  text-align: center;
}

.services__body {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__body--img {
  width: 570px;
  height: 570px;
  flex-shrink: 0;
  border-radius: 12px;
  object-fit: cover;
}

.services__body--item {
  width: 470px;
  height: 128px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  display: flex;
  padding: 21px 0 0 22px;
  gap: 19px;
  opacity: 1;
  transition: 0.6s;
  color: #10375c;
}

.services__body--item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.services__body--item:hover .services__body--icon {
  background: #2e80ce;
  color: #fff;
  transition: 0.3s;
}

.services__body--icon {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
}

.services__body--title {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}
.services__body--describe {
  width: 308px;
  margin-top: 8px;
}
.services__body--services {
  margin-top: 55px;
}

/* =========================================Works================================================= */
.works {
  padding: 100px 0;
  background: #f6fbff;
}

.works__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 86px;
}
.works__list--item {
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  padding: 59px 0 59px 58px;
  transition: 0.3s;
}

.works__list--item:hover {
  transform: translateY(-16px);
  border: 16px solid #2e80ce;
  transition: 0.3s;
}

.works__list--title {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 138.462%;
  margin-top: 18px;
}

.works__list--describe {
  width: 254px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
  margin-top: 28px;
}
.works__list--more {
  display: inline-block;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%;
  margin-top: 18px;
  transition: 0.3s;
}

.works__list--item:hover .works__list--more {
  color: #2e80ce;
  font-weight: 400;
  transition: 0.3s;
}

/* =========================================About================================================= */
.about {
  margin-top: 170px;
}
.about__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__imgs {
  width: 48.718%;
  position: relative;
  padding-bottom: 121px;
}
.about__imgs--img-left {
  width: 512px;
  height: 370px;
  flex-shrink: 0;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}
.about__imgs--img-right {
  width: 332px;
  height: 370px;
  flex-shrink: 0;
  border-radius: 6px;
  object-fit: cover;
  position: absolute;
  top: 121px;
  left: 238px;
}

.about__content--title {
  width: 470px;
}

.about__content--more {
  margin-top: 38px;
}

/* =========================================Team================================================= */
.team {
  margin-top: 170px;
}
.team--title {
  text-align: center;
}

.team--dentist {
  display: block;
  margin: 38px auto 70px auto;
}

.team__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.team__item--bgr {
  border-radius: 6px;
  background: #eaf6ff;
  padding-top: 28px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.team__item--bgr:hover .team__item--avatar {
  transform: scale(1.1);
  transition: 0.3s;
}

.team__item--avatar {
  height: 290px;
  object-fit: cover;
  transition: 0.3s;
}

.team__item--name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 175%;
}
.team__item--describe {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 185.714%;
}

.team__action {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  gap: 18px;
}
/* =========================================CTA1================================================= */
.cta1 {
  margin-top: 265px;
}
.cta1__content {
  border-radius: 4px;
  background: #2e80ce;
  display: flex;
  position: relative;
  padding: 75px 0;
  justify-content: right;
}

.cta1__content--mobile {
  width: 284px;
  height: 522px;
  flex-shrink: 0;
  position: absolute;
  left: 5.983%;
  bottom: 0;
}

.cta1__content--body {
  margin-right: 5.983%;
}

.cta1__content--title {
  width: 489px;
  color: #fff;
}
.cta1__content--describe {
  width: 586px;
  color: #fff;
}
.cta1__content--install {
  display: flex;
  gap: 3.393%;
  margin-top: 38px;
}
/* =========================================Blog================================================= */
.blog {
  margin-top: 170px;
}

.blog__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__left--title {
  width: 470px;
}

.blog__left--read {
  display: inline-block;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 155.556%;
  text-decoration-line: underline;
  margin: 28px 0;
  text-underline-offset: 4px;
}

.blog__left--action {
  display: flex;
  gap: 18px;
}
.blog__right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.blog__right--item {
  width: 270px;
  height: 375px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  transition: 0.3s;
}

.blog__right--item:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
  z-index: 1;
  transition: 0.3s;
}
.blog__right--img {
  width: 270px;
  height: 172px;
  flex-shrink: 0;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}

.blog__right--title {
  width: 224px;
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 162.5%;
  margin-top: 18px;
  margin-left: 22px;
}

.blog__right--describe {
  width: 226px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 171.429%;
  margin: 10px auto;
}
.blog__right--learn-more {
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  margin: 2px 0 21px 22px;
  display: inline-block;
  transition: 0.3s;
}

.blog__right--item:hover .blog__right--learn-more {
  color: #2e80ce;
  transition: 0.3s;
}
/* =========================================cta2================================================= */
.cta2 {
  margin-top: 170px;
}
.cta2__body {
  background: #f6fbff;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta2__body--title {
  width: 813px;
  text-align: center;
}
.cta2__body--title::after {
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  flex-shrink: 0;
  background: #2e80ce;
  margin: 18px auto 0 auto;
}

.cta2__body--describe {
  width: 617px;
  text-align: center;
  margin-top: 18px;
}

.cta2__body--apm {
  margin-top: 38px;
}
/* =========================================footer================================================= */
.footer {
  margin-top: 170px;
  padding-top: 100px;
  padding-bottom: 42px;
  background: #10375c;
}
.footer__content {
  display: grid;
  grid-template-columns: 1fr 0.3988fr 0.3988fr 1fr;
  column-gap: calc(78px / 1170px);
}

.footer__content--describe {
  width: 336px;
  color: #a9b3bb;
  font-family: var(--font2nd);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 175%;
  margin-top: 21px;
}

.footer__content--title {
  color: #fff;
  font-family: var(--font2nd);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 175%;
}
.footer__content--list {
  margin-top: 20px;
  margin-bottom: 28px;
}
.footer__content--item {
  color: #a9b3bb;
  font-family: var(--font2nd);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 185.714%;
  margin-bottom: 10px;
}

.footer__content--item:hover {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
  position: relative;
}

.footer__content--socials {
  margin-top: 20px;
  margin-bottom: 28px;
  display: flex;
  gap: 10px;
}

.footer__content--social {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e80ce;
  transition: 0.3s;
}
.footer__content--social:hover {
  background: #2e80ce;
  color: white;
  transition: 0.3s;
}
.footer__content--form {
  margin-top: 10px;
}
.footer__content--input {
  width: 212px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #406181;
  background-color: transparent;
  margin-right: 12px;
  outline: none;
  color: #9ca8b1;
  font-family: var(--font2nd);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 185.714%;
}
.footer__content--input::placeholder {
  color: #9ca8b1;
  font-family: var(--font2nd);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 185.714%;
}
.footer__content--subscribe {
  width: 108px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 4px;
  color: #fff;
  font-family: var(--font2nd);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 185.714%;
}

.footer__copyright {
  border-top: solid 1px #406181;
}
.footer__copyright--text {
  color: #aab3ba;
  text-align: center;
  font-family: var(--font2nd);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 185.714%;
  margin-top: 28px;
}
